beautifulsoup4==4.6.0
celery==4.0.2
codecov
coverage
coveralls
django
django-rest-swagger
enum
html5lib
mechanize
nose
nose-cov
numpy
pandas
pillow
pypdf2
python-coveralls
pytz
requests
reportlab
selenium
Sphinx
tabulate
xhtml2pdf
xlsxwriter
celery==4.0.2
enum
