beautifulsoup4
celery
codecov
coverage
coveralls
django==1.8.15
django-rest-swagger
enum
html5lib
mechanize
nose
nose-cov
numpy
pandas
pillow
pypdf2
python-coveralls
pytz
requests
reportlab
selenium
Sphinx
tabulate
xhtml2pdf
xlsxwriter
celery
enum
