
<!-- start 09epa_drupal_splashscripts.html -->
{% load static %}
    <link href="{% static 'css/styles_splash.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/qed.css' %}" media="all" />

    <!-- IE
    ================================================== -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->

     <!--<script src="/static_qed/js/respond.min.js"></script>-->
    <!--[endif]-->

        <!-- qed scripts CSS - 02end_header_qed_scripts.html
    ================================================== -->
    <!-- <link href="/static_qed/css/google-fonts.css" rel="stylesheet"> -->
    <!-- <link href="/static_qed/css/normalize.css" rel="stylesheet"> -->

    <!-- <link href="/static_qed/js/stylesheets/superslides.css" rel="stylesheet"> -->
    <!--  -->
     <!-- <link type="text/css" rel="stylesheet" href="/static_qed/css/pram.css" media="all" /> -->



    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!--<script src="/static_qed/js/jquery.animate-enhanced.min.js"></script>-->
    <!-- <script src="/static_qed/js/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!--<script src="/static_qed/js/landing_slides.js" type="text/javascript"></script>-->
    <!--<script src="/static_qed/js/application.js" type="text/javascript"></script>-->

<!-- end 09epa_drupal_splashscripts.html -->
