option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings
  - option_name: AWS_SECRET_KEY
    value: qI9xNNAHEvJ67GHrwjzpfhgWZIOzEi3fZRmNh1Gw
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJGCMKF24VZC6GJ7Q
