container_commands:
  01installPip:
    command: "wget https://bitbucket.org/pypa/setuptools/raw/bootstrap/ez_setup.py; python27 ez_setup.py; easy_install pip"
  02installDjango:
    command: "pip install django"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE

    value: settings