<style>
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, legend {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
caption, th {
	text-align: left;
}
.legend .legendheader {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 29px;
}
.legend .ticklabel {
	font-size: 29px;
	font-family: Helvetica, sans-serif;
}
.left {
	width: 20px;
	float: left;
	text-align: left;
}
.right {
	width: 25px;
	float: right;
	text-align: right;
}
.exspace {
	line-height: 2.0;
}
.domhead {
	font-weight: bold;
	font-size: 11px;
	font-style: italic;
}
div.tooltip {
	position: absolute;
	text-align: left;
	width: 180px;
	padding: 10px;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	background: #ffffff;
	pointer-events: none;
	opacity: 0;
	border: 1px solid #ccc;
}
div.tooltip h3 {
	font-size: 13px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #000;
	padding-bottom: 6px;
	line-height: 1.2em;
}
div.tooltip .vals {
	vertical-align: bottom;
}
div.tooltip .state {
	text-transform: uppercase;
	margin-bottom: 4px;
}
div.tooltip .hwbi {
	font-size: 11px;
	font-weight: bold;
}
div.tooltip .moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .cn {
	font-size: 11px;
}
div.tooltip .cn_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .cf {
	font-size: 11px;
}
div.tooltip .cf_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .ed {
	font-size: 11px;
}
div.tooltip .ed_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .he {
	font-size: 11px;
}
div.tooltip .he_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .lt {
	font-size: 11px;
}
div.tooltip .lt_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .ls {
	font-size: 11px;
}
div.tooltip .ls_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .ss {
	font-size: 11px;
}
div.tooltip .ss_moe {
	color: #aaa;
	font-size: 11px;
}
div.tooltip .sc {
	font-size: 11px;
}
div.tooltip .sc_moe {
	color: #aaa;
	font-size: 11px;
}
#countymap {
	margin-top: 5px;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.button {
	fill: #000;
}
.counties {
	fill: none;
	stroke: #fff;
	stroke-width: 0.5px;
    stroke-linejoin: round;
}
.states {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	stroke-linejoin: round;
}
.counties path.selected {
	stroke: #000;
	stroke-width: 0.5px;
	fill: #000;
}
.counties path.same {
	fill: #cccccc;
}
.counties path.greater {
	fill: red;
}
.counties path.lesser {
	fill: green;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
{#    overflow: hidden;#}
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
</style>


<div id="map-wrapper">

    <p><b>Select a county</b> to see how others compare.</p>
    <br>

        <div id="tooltip" class="tooltip" style="opacity: 0; left: 752px; top: 70px;">

            <div class="state">Maine</div>

            <h3 class="name">Penobscot County</h3>

            <div class="hwbi">22.0<span class="moe">0.6</span></div>

            <hr>

            <div> <text class="domhead exspace">Domain sub-indexes</text></div>

            <div class="cn">22.0<span class="cn_moe">0.6</span></div>
            <div class="cf">22.0<span class="cf_moe">0.6</span></div>
            <div class="ed">22.0<span class="ed_moe">0.6</span></div>
            <div class="he">22.0<span class="he_moe">0.6</span></div>
            <div class="lt">22.0<span class="lt_moe">0.6</span></div>
            <div class="ls">22.0<span class="ls_moe">0.6</span></div>
            <div class="ss">22.0<span class="ss_moe">0.6</span></div>
            <div class="sc">22.0<span class="sc_moe">0.6</span></div>
            <div class="_label exspace">(0 to 100 scale)</div>
        </div>

</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

<script>

var width = window.innerWidth,
    height = window.innerHeight,
    center = [width / 2, height / 2],
    defaultFill = "#e0e0e0";

console.log(width);

var formatHwbi = d3.format(".1f");
var qcolors = ["#8c510a", "#D9A55F", "#e0e0e0", "#80cdc1", "#35978f"];
var qlabels = ["Much More", "More", "About same", "Less", "Much Less"];


var currFIPS,
    currCountyMin,
    currCountyMax,
    hwbiByFIPS = d3.map();


var projection = d3.geo.albersUsa()
    .scale(2250)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

var zoom = d3.behavior.zoom()
    .scaleExtent([1, 8])
    .on("zoom", move);


var svg = d3.select("body #map-wrapper")
   .append("svg")
       .attr("preserveAspectRatio", "xMinYMin meet")
       .attr("viewBox", "0 0 1000 700") //aspect ratio. similar to scale

   .append("svg")
   .classed("svg-container", true) //container class to make it responsive
   //responsive SVG needs these 2 attributes and no width and height attr
   .attr("preserveAspectRatio", "xMinYMin meet")
   .attr("viewBox", "0 0 1950 350") //aspect ratio. similar to scale
   //class to make it responsive
   .classed("svg-content-responsive", true)
    .attr("id", "countymap")
  .append("g")
    .call(zoom);
svg.on("wheel.zoom", null);
svg.on("mousewheel.zoom", null);

svg.append("rect")
    .attr("class", "overlay")
    .attr("width", width)
    .attr("height", height);

svg.append("svg:image")
    .attr("xlink:href", "/static/images/progress_anim.gif")
    .attr("id", "progress-image")
    .attr("width", 43)
    .attr("height", 11)
    .attr("x", width / 2)
    .attr("y", height / 2);

var g = svg.append("g");

var tooltip = d3.select("#tooltip")
  .style("opacity", 0);



// Legend
var legend = svg.append("g")
    .attr("class", "legend");
legend.append("rect")
    .attr("x", width)
    .attr("y", height - 325)
    .attr("width", 1000)
    .attr("height", 1000)
    .attr("fill", "#ffffff")
    .attr("opacity", 0.9);
legend.append("text")
    .attr("class", "legendheader")
    .attr("x", width - 190)
    .attr("y", height - 310)
    .text("Human");
legend.append("text")
    .attr("class", "legendheader")
    .attr("x", width - 190)
    .attr("y", height - 280)
    .text("Well-Being");
legend.append("text")
    .attr("class", "legendheader")
    .attr("x", width - 190)
    .attr("y", height - 250)
    .text("Index");

legend.selectAll("rect.legend")
    .data([0, 1, 2, 3, 4])
  .enter().append("rect")
    .attr("x", width - 190)
    .attr("y", function(d, i) { return height - i * 30 - 115; })
    .attr("width", 10)
    .attr("height", 30)
    .style("fill", function(d, i) { return qcolors[i]; })
legend.selectAll(".ticklabel")
    .data([0, 1, 2, 3, 4])
  .enter().append("text")
    .attr("class", "ticklabel")
    .attr("x", width - 175)
    .attr("y", function(d, i) { return height - i * 30 - 90; })
    .text(function(d, i) { return qlabels[i]; });


queue()
    .defer(d3.json, "/static/json/us.json")
    .defer(d3.csv, "/static/data/hwbi_decade.csv", typeAndSet)
    .await(ready);

var clickedOnce = false;
var timer;

function ready(error, us, commute) {

    g.append("g")
        .attr("class", "counties")
        .selectAll("path")
          .data(topojson.feature(us, us.objects.counties).features)
        .enter().append("path")
          .attr("d", path)
          .attr("fill", "#e0e0e0")
          .on("click", function(d) {
              if (clickedOnce) {
                clickedOnce = false;
                clearTimeout(timer);
              } else {
                timer = setTimeout(function() {
                    currFIPS = d.id;
                    updateClasses();
                    clickedOnce = false;
                }, 190);
                clickedOnce = true;
              }

          })
          .on("mouseover", function(d) {

               d3.select(this).classed("selected", true);
               tooltip.transition().duration(150)
                    .style("opacity", 1);

               // Position tooltip
               if (d3.event.pageX > (width - 220)) {
                   tooltip.style("left", (d3.event.pageX - 230) + "px");
               } else {
                   tooltip.style("left", (d3.event.pageX + 20) + "px")
                       .style("top", (d3.event.pageY - 80) + "px");
               }

               if (d3.event.pageY > (height - 170)) {
                    tooltip.style("top", (d3.event.pageY - 160) + "px");
               } else {
                    tooltip.style("top", (d3.event.pageY + 50) + "px");
               }

               // Populate tooltip
               var county = hwbiByFIPS.get(d.id);
               tooltip.select(".state").text(county.state);
               tooltip.select(".name").text(county.name);
			   tooltip.select(".hwbi").html('<text>Well-Being:  </text>' + '<span class="moe right">&plusmn;' + formatHwbi(county.moe) + "</span>" + '<span class="hwbi right">' + formatHwbi(county.hwbi) + '</span>');
			   tooltip.select(".cn").html('<text>Connection to Nature:  </text>' + '<span class="cn_moe right">&plusmn;' + formatHwbi(county.cn_moe) + "</span>" + '<span class="cn right">' + formatHwbi(county.cn) + '</span>');
			   tooltip.select(".cf").html('<text>Cultural Fulfillment:  </text>' + '<span class="cf_moe right">&plusmn;' + formatHwbi(county.cf_moe) + "</span>" + '<span class="cf right">' + formatHwbi(county.cf) + '</span>');
			   tooltip.select(".ed").html('<text>Education:  </text>' + '<span class="ed_moe right">&plusmn;' + formatHwbi(county.ed_moe) + "</span>" + '<span class="ed right">' + formatHwbi(county.ed) + '</span>');
			   tooltip.select(".he").html('<text>Health:  </text>' + '<span class="he_moe right">&plusmn;' + formatHwbi(county.he_moe) + "</span>" + '<span class="he right">' + formatHwbi(county.he) + '</span>');
			   tooltip.select(".lt").html('<text>Leisure Time:  </text>' + '<span class="lt_moe right">&plusmn;' + formatHwbi(county.lt_moe) + "</span>" + '<span class="lt right">' + formatHwbi(county.lt) + '</span>');
			   tooltip.select(".ls").html('<text>Living Standards:  </text>' + '<span class="ls_moe right">&plusmn;' + formatHwbi(county.ls_moe) + "</span>" + '<span class="ls right">' + formatHwbi(county.ls) + '</span>');
			   tooltip.select(".ss").html('<text>Safety &amp; Security:  </text>' + '<span class="ss_moe right">&plusmn;' + formatHwbi(county.ss_moe) + "</span>" + '<span class="ss right">' + formatHwbi(county.ss) + '</span>');
			   tooltip.select(".sc").html('<text>Social Cohesion:  </text>' + '<span class="sc_moe right">&plusmn;' + formatHwbi(county.sc_moe) + "</span>" + '<span class="sc right">' + formatHwbi(county.sc) + '</span>');

// currFIPS = d.id;
               // updateTooltip();

               // timeout = setTimeout(updateClasses, 250);

          })
          .on("mouseout", function() {
              d3.select(this).classed("selected", false);
              // clearTimeout(timeout);
                tooltip.transition().duration(300)
                  .style("opacity", 0);
          });

    g.append("path")
        .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
        .attr("class", "states")
        .attr("d", path);


    // Zoom buttons
    svg.selectAll(".button")
        .data(['zoom_in', 'zoom_out'])
      .enter()
        .append("g")
          .attr("id", function(d){return d})
          .attr("class", "button")
          .attr({x: 50, width: 50, height: 50})
        .append("rect")
            .attr("y", function(d,i) { return 50 + 55*i })
            .attr({x: 50, width: 50, height: 50})
    // Plus button
    svg.select("#zoom_in")
      .append("line")
        .attr({x1: 60, y1: 75, x2: 90, y2: 75 })
        .attr("stroke", "#fff")
        .attr("stroke-width", "6px");
    svg.select("#zoom_in")
      .append("line")
        .attr({x1: 75, y1: 60, x2: 75, y2: 90 })
        .attr("stroke", "#fff")
        .attr("stroke-width", "6px");
    // Minus button
    svg.select("#zoom_out")
      .append("line")
        .attr({x1: 60, y1: 130, x2: 90, y2: 130 })
        .attr("stroke", "#fff")
        .attr("stroke-width", "6px");


    svg.selectAll(".button")
      .on("click", function() {
          d3.event.preventDefault();

          var scale = zoom.scale(),
              extent = zoom.scaleExtent(),
              translate = zoom.translate(),
              x = translate[0], y = translate[1],
              factor = (this.id === 'zoom_in') ? 2 : 1/2,
              target_scale = scale * factor;

          var clamped_target_scale = Math.max(extent[0], Math.min(extent[1], target_scale));
            if (clamped_target_scale != target_scale){
                target_scale = clamped_target_scale;
                factor = target_scale / scale;
            }

            // Center each vector, stretch, then put back
            x = (x - center[0]) * factor + center[0];
            y = (y - center[1]) * factor + center[1];

            // Transition to the new view over 350ms
            d3.transition().duration(350).tween("zoom", function () {
                var interpolate_scale = d3.interpolate(scale, target_scale),
                    interpolate_trans = d3.interpolate(translate, [x,y]);
                return function (t) {
                    zoom.scale(interpolate_scale(t))
                        .translate(interpolate_trans(t));
                    svg.call(zoom.event);
                };
            });
      });




      svg.select("#progress-image").remove();

} // @end ready()


function typeAndSet(d) {

    d["hwbi"] = +d["hwbi"];
    d["moe"] = +d["moe"];

    hwbiByFIPS.set(d.FIPS, d);
}


function updateClasses() {
    var currCounty = hwbiByFIPS.get(currFIPS);
    currCountyMin = currCounty.hwbi - currCounty.moe;
    currCountyMax = currCounty.hwbi + currCounty.moe;
    svg.selectAll(".counties path")
        .transition()
        .duration(300)
        .attr("fill", function(d) {
            return classByHwbi(d.id);
        });
}




function classByHwbi(FIPS) {
    if (currFIPS == FIPS) {
        return "#000000";
    }

    var currCounty = hwbiByFIPS.get(currFIPS);  // Currently selected county

    var county = hwbiByFIPS.get(FIPS);

    if (typeof county !== "undefined") {
        var countyMin = county.hwbi - county.moe;
        var countyMax = county.hwbi + county.moe;

        if (currCounty.hwbi <= countyMax && countyMin <= currCounty.hwbi) {
            return qcolors[2];
        }
        else if (county.hwbi < currCounty.hwbi) {
            var diffRate = currCounty.hwbi - county.hwbi;
            if (diffRate > currCounty.moe*2) {
                return qcolors[4];
            } else {
                return qcolors[3];
            }
        } else {
            var diffRate = county.hwbi - currCounty.hwbi;
            if (diffRate > currCounty.moe*2) {
                return qcolors[0];
            } else {
                return qcolors[1];
            }

        }

    }

    else {
        return "#ffffff";
    }
}

/*
 * Generic Map Functions
 */

function zoomIn() {
    zoom.scale(zoom.scale()*2);
    move();
}

function move() {
  var t = d3.event.translate,
      s = d3.event.scale;
  t[0] = Math.min(width * (s - 1), Math.max(width * (1 - s), t[0]));
  t[1] = Math.min(height * (s - 1), Math.max(height * (1 - s), t[1]));
  zoom.translate(t);
  g.style("stroke-width", 1 / s).attr("transform", "translate(" + t + ")scale(" + s + ")");
}

function clicked(d) {
  var x, y, k;

  if (d && centered !== d) {
    var centroid = path.centroid(d);
    x = centroid[0];
    y = centroid[1];
    k = 4;
    centered = d;
  } else {
    x = width / 2;
    y = height / 2;
    k = 1;
    centered = null;
  }

  g.selectAll("path")
      .classed("active", centered && function(d) { return d === centered; });

  g.transition()
      .duration(750)
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
      .style("stroke-width", 1.5 / k + "px");
}

</script>