<style>
    ul.tabs{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
    }

    ul.tabs li{
        background: #e4e5e4;
        color: #222;
        display: inline-block;
        padding: 2px 8px;
        cursor: pointer;
    }

    ul.tabs li.current{
        background: #bbb;
        color: #000;
        border: solid 1px #356697;
    }

    .tab-content{
        display: none;
        background: #ffffff;
        padding: 1px;
    }

    .tab-content.current{
        display: inherit;
    }

    .axis text {
      display: none;
    }

    .axis .halo {
      stroke: #aaa;
      stroke-width: 5px;
    }

    .slider .handle text {
      fill: black;
      text-align: center;
      font-size: 13px;
    }

    #cirSlide {
        font-size: 13px;
        padding: 2px 10px 2px 2px;
    }

    /* format d3.js tooltip for pie chart mouse-over */
    .d3-tip {
      line-height: 1;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
      pointer-events: none;
    }

    /* set county & state input fields */
    #statecounty {
        color: #74646e;
        width: 150px;
        padding: 2px 10px 2px 2px;
        font-size: 14px;
    }

    /* size button font */
    #updateServices {
        font-size: 12px;
    }

/*    #pie {
        background-color: #F9FBF6;
    }

    #pie2 {
        background-color: #F9FBF6;
    }*/

    p {
        font-size: 14px;
        }

{#    h2 {#}
{#        font-size: 14px;#}
{#        }#}
</style>
<script src = "/static/js/d3.v3.min.js"></script>
<script src="/static/js/d3.tip.v0.6.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
<script src="/static/js/scripts_input.js"></script>


        <!--select state & county-->
        <div id="statecounty" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style = "float:left; width: 30%; margin-left: 10px; margin-top: 5px;">
          <form id="stateform">
              <select name="optone" id="stateSel" size="1">
                  <option value="" selected="selected">select state</option>
              </select>
              <br>
              <br>
              <select name="opttwo" id="countySel" size="1">
                  <option value="" selected="selected">select county</option>
              </select>
              <br>
          </form>
        </div>

        <script src="/static/js/statecounty.js"></script>

        <!--d3 work flow chart diagram services-to-HWBI-->
        <div id="flowchart" class="col-lg-9 col-md-9 col-sm-9 col-xs-12"  style = "float:left; width: 65%;"></div>
        <script src="/static/js/flowchart.js"></script>


      <!--Text description of services-->
        <div>
          <p>
              Twenty-two
              <span style="color: #b86361;font-weight:bold;">economic</span>,
              <span style="color: #61b88e;font-weight:bold;">ecosystem</span>, and
              <span style="color: #618bb8;font-weight:bold;">social</span>
              service scores were calculated for each county
              in the conterminous United States. Choose your county then adjust the services sliders to examine how
              changing services affects domain values and the overall HWBI.
          </p>
        </div>

        <!--Sliders to adjust circle services-->
        <div id="cirSlide" style = "margin-left: 25px;"></div>
        <script src="/static/js/slider.js"></script>

        <!--button to submit updated services to pie chart-->
        <button id="updateServices" onclick="useServiceValues()" type="submit" class="btn btn-primary btn-xs" role="button">Modify Service Values</button>


      <!--Text description of RIVs-->
      <div>
        <p>
          The relative importance of domains may vary for each person. Use the boxes to rank
          the importance of domains based on <i>your</i> preferences. A value of 5
          is considered most important and a value of 1 has lowest importance.
        </p>
      </div>

      <!--jquery ajax call to import html code for riv boxes-->
      <div id="riv" class="panel panel-default col-lg-6 col-md-6 col-sm-4 col-xs-5" style = "float:left; width: 50%;"></div>
      <script>
        $(function(){
          $("#riv").load("/static/riv.html");
        });
      </script>


<label><input id="radios-id-2" type="radio" name="toggler" value="" />Modified Values</label>
<label><input id="radios-id-2" type="radio" name="toggler" value="2" />Baseline County Values</label>

        <div id="pie" class="tab-content current col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
        <div id="pie2" class="tab-content"></div>

<script>
$(function() {
    $("[name=toggler]").click(function(){
            $('.tab-content').hide();
            $("#pie"+$(this).val()).show('');
    });
 });
</script>

{#      <div class="container" style="float:left; width: 40%">#}
{#        <ul class="tabs">#}
{#            <li class="tab-link current" data-tab="pie">Modified Values</li>#}
{#            <li class="tab-link" data-tab="pie2">Baseline County Values</li>#}
{#        </ul>#}
{##}
{#        <div id="pie" class="tab-content current col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>#}
{#        <div id="pie2" class="tab-content"></div>#}
{#      </div>#}

      <script src="/static/js/pie.js" ></script>
      <script src="/static/js/pie2.js" ></script>

      <script>
      $(document).ready(function(){

        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })
      })
      </script>


    <!--Text description of HWBI pie-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left; width: 100%; text-align:left">
        <p>
          The services scores are used to calculate the eight domains of well-being,
          represented as eight sections on the pie chart. The relative importance values
          are represented by the width of pieces on the pie chart and used to calculate
          the overall HWBI score.

          The total Human Well-Being Index (HWBI) score is shown in the center of the pie chart.
        </p>
      </div>


</body>
</html>