<!--start 04uberinput_form-->
{% comment %}{% if FORM.errors %}
    {% for field in FORM %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong style="color: red">ERROR: {{ field.label }} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in FORM.non_field_errors %}
        <div class="alert alert-danger">
            <strong style="color: red">ERROR: {{ field.label }} - {{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}{% endcomment %}

  <tbody>{% for field in FORM %}
    <tr>
      <td>{{ field.label_tag }}</td>
			<td>{{ field }}</td>
		</tr>{% endfor %}
  </tbody>

{#  <div class="form-item form-type-textfield">#}

{#    <label for="textfield-id">Textfield Label</label>#}
{#    <input class="form-text" id="textfield-id" size="60" type="text">#}
{#  </div>#}
{#  <div class="fieldWrapper">#}
{#    {{ field.errors }}#}
{#    {{ field.label_tag }} {{ field }}#}
{#    {% if field.help_text %}#}
{#    <p class="help">{{ field.help_text|safe }}</p>#}
{#    {% endif %}#}
{#  </div>#}

<!--end 04uberinput_form-->
