<!-- start 09epa_drupal_pram_css.html -->
{% load static %}
    <!-- start splash page -->
    <link href="{% static 'css/styles_splash.css' %}" rel="stylesheet">
    <!-- end splash page -->

    <!-- start pram scripts -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/qed.css' %}" media="all" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/pram.css' %}" media="all" />
    <!-- end pram scripts -->


    <!-- start links left old pram styling -->
    <!--<link type="text/css" rel="stylesheet" href="/static_qed/stylesheets/style_ecoEPA.css" media="all" />-->
    <!-- end links left old pram styling -->

        <!-- qed scripts CSS - 02end_header_qed_scripts.html
    ================================================== -->
    <!--<link href="/static_qed/css/google-fonts.css" rel="stylesheet">-->
    <!--<link href="/static_qed/css/normalize.css" rel="stylesheet">-->


    <!-- <link href="/static_qed/js/stylesheets/superslides.css" rel="stylesheet"> -->


    <!-- start old scss calls on description page-->
    <!--<link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/template/s.css" media="all" />-->
    <!--<link type="text/css" rel="stylesheet" href="/static_qed/css/qed.css" media="all" />-->
    <!--<link type="text/css" rel="stylesheet" href="/static_qed/css/pram.css" media="all" />-->

    <!-- end old css calls on description page-->

<!-- end 09epa_drupal_pram_css.html -->