<!--start 02uberintroblock_nomodellinks_drupal-->
<section id="main-content" class="main-content clearfix" role="main">
  <h2 class="microsite-name">&uuml;bertool: Web Applications for Ecological Risk Assessment (BETA)</h2>
  <div class="region-preface clearfix">
    <div id="block-pane-epa-web-area-connect" class="block block-pane contextual-links-region">
      <ul class="menu utility-menu">
        <li class="menu-item"><a href="https://www.epa.gov/research/forms/contact-us-about-epa-research" class="menu-link contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>

    <!-- Frog Banner -->
  <div class="region-highlighted clearfix">
    <div id="block-ds-extras-web-area-highlighted" class="block block-ds-extras block-ds-extras-web-area-highlighted">
      <ul class="epa-banner-field clearfix slideshow-processed slides slides1">

        <li class="epa-banner slides1_on"
            style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms
            ease-in-out; min-height: 12em; background-image: url('/static/images/species/waterfrog_crop.png');"
            id="slides1_s0">

          <div class="banner-content">
            <h2 class="banner-title">Models for Pesticide Risk Assessment</h2>
            <p>
              When EPA assesses the risk of a pesticide to the environment, it considers the toxicity
              of the pesticide as well as the amount of pesticide to which the environment may be exposed.
                In assessing exposure, scientists frequently use mathematical models to predict pesticide concentrations
                in soil, sediment, air, food and water.
            </p>
          </div>

        </li>

          <li class="epa-banner"
              style="float: none; position: absolute; opacity: 0; z-index: 1; display:list-item;
              transition: opacity 500ms ease-in-out; min-height: 12em;
              background-image: url('/static/images/species/heron-banner.jpg');"
              id="slides1_s1">

              <div class="banner-content">
                  <h2 class="banner-title">Federal Insecticide, Fungicide, and Rodenticide Act</h2>
                  <p>
                      FIFRA regulates pesticide distribution, sale and use. Before EPA may register a pesticide under
                      FIFRA, the applicant must show, among other things, that using the pesticide according to
                      specifications 'will not generally cause unreasonable adverse effects on the environment.'
                  </p>
              </div>
          </li>

          <li class="epa-banner"
              style="float: none; position: absolute; opacity: 0; z-index: 1; display:list-item;
              transition: opacity 500ms ease-in-out; min-height: 12em;
              background-image: url('/static/images/species/stream_sampling.jpg');"
              id="slides1_s2">

              <div class="banner-content">
                  <h2 class="banner-title">Registration Review</h2>
                  <p>
                      EPA reviews each registered pesticide at least every 15 years to determine whether it continues
                      to meet the FIFRA standard for registration.
                  </p>
              </div>
          </li>

          <li class="epa-banner"
              style="float: none; position: absolute; opacity: 0; z-index: 1; display:list-item;
              transition: opacity 500ms ease-in-out; min-height: 12em;
              background-image: url('/static/images/species/streams_lakes.jpg');"
              id="slides1_s3">

              <div class="banner-content">
                  <h2 class="banner-title">Endangered Species</h2>
                  <p>
                      EPA evaluates extensive environmental fate and toxicity data
                      to determine how a pesticide will move through and break down in the environment and whether
                      potential exposure to the pesticide will result in adverse effects to wildlife and vegetation
                      to determine whether a pesticide may be licensed for use.
                  </p>
              </div>
          </li>

      <ul class=" slides_tabs slides1_tabs">

        <li class="slides1_s1 slides_here">
          <a href='#' class="slides1_s1">1</a>
        </li>

          <li class="slides1_s2">
              <a href='#' class="slides1_s2">2</a>
          </li>

          <li class="slides1_s3">
              <a href='#' class="slides1_s3">3</a>
          </li>

          <li class="slides1_s4">
              <a href='#' class="slides1_s4">4</a>
          </li>
      </ul>
      </ul>


      <div class="microsite-aside">
        <div class="microsite-aside-content">
          <h2>Pesticide Registration and Risk Assessment</h2>
            <ul>
              <li><a href="https://www.epa.gov/laws-regulations/summary-federal-insecticide-fungicide-and-rodenticide-act">Pesticide Registration Regulations</a></li>
              <li><a href="https://www.epa.gov/endangered-species/assessing-pesticides-under-endangered-species-act">Endangered Species and Pesticides </a></li>
                <li><a href="https://www.epa.gov/pesticide-reevaluation/registration-review-process">Registration Review Process</a></li>
                <li><a href="https://www.epa.gov/pesticide-science-and-assessing-pesticide-risks/models-pesticide-risk-assessment">Desktop Pesticide Models</a></li>
            </ul>
            </div>
        </div>
      </div>
  </div> <!-- end Frog Banner -->
<!--end 02uberintroblock_nomodellinks-->