<!--start 03ubertext_links_left-->
<div class="left">
  <div class="urbangreymenu" id="l_menu">
    {% for key, value in link_dict.items %}
    <h3 class="headerbar">{{ key|safe }}</h3>
        <ul>
            {% for valueKey, valueValue in value.items %}{% if forloop.last %}
            <li><a href="/eco/{{ valueValue }}" id="{{ valueValue }}" class="fadeMenu submenu_last">{{ valueKey|safe }}</a></li>{% else %}
            <li><a href="/eco/{{ valueValue }}" id="{{ valueValue }}" class="fadeMenu">{{ valueKey|safe }}</a></li>{% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
  </div> <!-- End "Left" -->
</div> <!-- End "urbangreymenu; l_menu" -->
<!--end 03ubertext_links_left-->