<!--start 04uberinput_form-->
  <tbody>{% for field in FORM %}
    <tr>
      <td>{{ field.label_tag }}</td>
			<td>{{ field }}</td>
		</tr>{% endfor %}
  </tbody>

{#  <div class="form-item form-type-textfield">#}

{#    <label for="textfield-id">Textfield Label</label>#}
{#    <input class="form-text" id="textfield-id" size="60" type="text">#}
{#  </div>#}
{#  <div class="fieldWrapper">#}
{#    {{ field.errors }}#}
{#    {{ field.label_tag }} {{ field }}#}
{#    {% if field.help_text %}#}
{#    <p class="help">{{ field.help_text|safe }}</p>#}
{#    {% endif %}#}
{#  </div>#}

<!--end 04uberinput_form-->
