<script src="/static/js/scripts_export.js" type="text/javascript"></script>

<!-- target="PDF_Export is not required" -->
<form id="pdf_post" method="post">
	<table class="getpdf popup"></table>
</form>

<div id="export_menu">
    <ul>
        <li id="pdfExport"><a href="#" id="fadeExport_pdf"><span></span></a></li>
        <li id="htmlExport"><a href="#" id="fadeExport_html"></a><span></span></li>
        <!-- <li><a href="#" id="fadeExport_doc"></a><span></span></li> -->
    </ul>
</div> <!-- End "export_menu" div -->

