<script src="/static/stylesheets/smartpaginator.js" type="text/javascript"></script>
<link href="/static/stylesheets/smartpaginator.css" rel="stylesheet" type="text/css" />

<script>
$(document).ready(function() {

	$.ajax({
		type: 'POST',
		url: '/ubertool/{{ model }}/history/query',
		data: { postVar1: 'theValue1', postVar2: 'theValue2' },
		beforeSend:function(){
			// this is where we append a loading image
			$('#ajax-panel').html('<div class="loading"><img id="ajax_loader" src="/static/images/loader.gif" alt="Loading..." /></div>');
		},	
		success:function(data){
			// successful request; do something with the data
			$('#ajax-panel').fadeToggle("slow", function() {
				$('#history-results').html(data);
				// $('#history-results').html(data).delay(2000).slideDown(400);
			});
		},
		error:function(exception){
			// failed request; give feedback to user
			$('#ajax-panel').html('<p class="error"><strong>Error: </strong> '+exception+'</p>');
		}
	});

	// Add handler to dynamically loaded content & manually fire get request
	$("#history-results").on('click', 'input', function() { 
		var id = $(this).attr('class').slice(13);
		var tds = $('tr#'+id).children('td');
		var model_name = $(tds).children('input#model_name').val();
		var jid = $(tds).children('input#jid').val();
		// console.log(model_name + ", " + jid);
		// window.open("history/revisit?model_name=" + model_name + "&jid=" + jid);
		window.open("history/revisit?model_name={{ model }}&jid=" + jid);
	});

});

</script>

<div id="ajax-panel"></div>
<div id="history-results"></div>
