
<style>
.ore_output table {
    border-collapse: collapse;
}
.ore_output table, th, td {
    border: 1px solid #000000;
}
.ore_output th {
    background: #eeeeee;
}
</style>

<table class="ore_output">
    <caption>Testing...</caption>
    <tr>
        <th rowspan="2">Exposure Scenario</th>
        <th rowspan="2">Crop or Target</th>
        <th rowspan="2">Level of <br>Concern</th>
        <th rowspan="1">Dermal Unit <br>Exposure <br>(&micro;g/lb ai)<sup>1</sup></th>
        <th rowspan="1">Inhalation <br>Unit Exposure <br>(&micro;g/lb ai)<sup>1</sup></th>
        <th rowspan="2">Maximum <br>Application <br>Rate<sup>2</sup></th>
        <th rowspan="2">Area <br>Treated of <br>Amount <br>Handled <br>Daily<sup>3</sup></th>
        {% if input.dermal %}
        <th rowspan="1" colspan="2">Dermal</th>
        {% endif %}
        {% if input.inhal %}
        <th rowspan="1" colspan="2">Inhalation</th>
        {% endif %}
    </tr>
    <tr>
        <th rowspan="1">Mitigation <br>Level</th>
        <th rowspan="1">Mitigation <br>Level</th>
        {% if input.dermal %}
        <th rowspan="1">Dose <br>(mg/kg/day)<sup>4</sup></th>
        <th rowspan="1">MOE<sup>5</sup></th>
        {% endif %}
        {% if input.inhal %}
        <th rowspan="1">Dose <br>(mg/kg/day)<sup>6</sup></th>
        <th rowspan="1">MOE<sup>7</sup></th>
        {% endif %}
    </tr>
    <tr>
        <th colspan="42">Mixer/Loader</th>
    </tr>
    <tr>
        {% for item in input.mix_loader %}
        <td>item</td>
        {% endfor %}
    </tr>
</table>