<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/jqplot/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/stylesheets/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/stylesheets/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<!-- <script type="text/javascript" language="javascript" src="/static/stylesheets/jQRangeSlider/jquery-ui-1.8.16.custom.min.js"></script> -->
<script type="text/javascript" language="javascript" src="/static/stylesheets/jQRangeSlider/jQDateRangeSlider-withRuler-min.js"></script> 
<link rel="stylesheet" type="text/css" href="/static/stylesheets/jQRangeSlider/classic.css"> 
<script type="text/javascript" language="javascript" src="https://rawgithub.com/kensnyder/date-prototype/master/src/Date.js"></script> 
<!--[if lt IE 9]>
<script src="/static/stylesheets/jqplot/plugins/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/stylesheets/scripts_pfam_output.js"></script>