{% load index %} {# http://stackoverflow.com/questions/4731572/django-counter-in-loop-to-index-list #}

<style>
#ore_output_x {
    background-image: url(/static/images/export/exit_button.png);
    height: 32px;
    width: 32px;
    position: relative;
    top: -26px;
}
#ore_output {
    background: #F4F7ED;
}
.ore_output_table table {
    border-collapse: collapse;
    background: #eeeeee;
}
.ore_output_table, .ore_output_table tr {
    border: 1px solid #000000;
    background-color: #F4F7ED;
}
.ore_output_table th, .ore_output_table td, .ore_output_table tr {
    background-color: #eeeeee;
}
</style>

<table class="ore_output_table">
    <caption><h3 style="text-align: left; padding-left: 6px">
        Occupational Handler Non-Cancer Exposure and Risk Estimates for {{ output.1.crop_name }}
        {% if output.1.active_ingredient != '' %}
            with {{ output.1.active_ingredient }} as the active ingredient
        {% endif %}
        </h3></caption>
    <tr>
        <th rowspan="2">Exposure Scenario</th>
        <th rowspan="2">Crop or Target</th>
        <th rowspan="2">Level of <br>Concern</th>
        <th rowspan="1">Dermal Unit <br>Exposure <br>(&micro;g/lb ai)<sup>1</sup></th>
        <th rowspan="1">Inhalation <br>Unit Exposure <br>(&micro;g/lb ai)<sup>1</sup></th>
        <th rowspan="2">Maximum <br>Application <br>Rate<sup>2</sup></th>
        <th rowspan="2">Area <br>Treated of <br>Amount <br>Handled <br>Daily<sup>3</sup></th>
        <th rowspan="1" colspan="2">Dermal</th>
        <th rowspan="1" colspan="2">Inhalation</th>
        {% if output.1.combined %}
        <th rowspan="1">Total</th>
        {% endif %}
    </tr>
    <tr>
        <th rowspan="1">Mitigation <br>Level</th>
        <th rowspan="1">Mitigation <br>Level</th>
        <th rowspan="1">Dose <br>(mg/kg/day)<sup>4</sup></th>
        <th rowspan="1">MOE<sup>5</sup></th>
        <th rowspan="1">Dose <br>(mg/kg/day)<sup>6</sup></th>
        <th rowspan="1">MOE<sup>7</sup></th>
        {% if output.1.combined %} {# If combined output shown #}
        <th rowspan="1">{{ output.1.combined }}</th>
        {% endif %}
    </tr>
    {% for k, v in output.items %}
    <tr>
        <th colspan="42">{{ v.activity }}</th>
    </tr>
    {% for item in v.dermal_unit_exp %}
    <tr>
        {% if forloop.first %} {# First row has all columns #}

        <td rowspan="{{ v.dermal_unit_exp|length }}">{{ v.activity }} for {{ v.app_equip }} Applications</td>
        <td rowspan="{{ v.dermal_unit_exp|length }}">{{ v.crop_target }}</td>
        <td rowspan="{{ v.dermal_unit_exp|length }}">
        {% if v.loc_dermal == v.loc_inhal %}
            {{ v.loc_dermal }}
        {% else %}
            Dermal = {{ v.loc_dermal }}<br>Inhalation = {{ v.loc_inhal }}
        {% endif %}
        </td>
        <td>{{ v.dermal_unit_exp.0 }}</td>
        <td>{{ v.inhal_unit_exp.0 }}</td>
        <td rowspan="{{ v.dermal_unit_exp|length }}">{{ v.app_rate }} {{ v.app_rate_unit }}</td>
        <td rowspan="{{ v.dermal_unit_exp|length }}">{{ v.area_treated }} {{ v.area_treated_unit }}</td>
        <td>{{ v.dermal_dose.0 }}</td>
        <td>{{ v.dermal_moe.0|floatformat:"0" }}</td>
        <td>{{ v.inhal_dose.0 }}</td>
        <td>{{ v.inhal_moe.0|floatformat:"0" }}</td>

        {% if output.1.combined %} {# If combined output shown #}
            {% if v.combined_list|index:forloop.counter0 < 2 %}
            <td>{{ v.combined_list.0|floatformat:"2" }}</td>
            {% else %}
            <td>{{ v.combined_list.0|floatformat:"0" }}</td>
            {% endif %}
        {% endif %}

        {% else %} {# Additional rows only have unique data columns #}

        <td>{{ v.dermal_unit_exp|index:forloop.counter0 }}</td>
        <td>{{ v.inhal_unit_exp|index:forloop.counter0 }}</td>
        <td>{{ v.dermal_dose|index:forloop.counter0 }}</td>
        <td>{{ v.dermal_moe|index:forloop.counter0|floatformat:"0" }}</td>
        <td>{{ v.inhal_dose|index:forloop.counter0 }}</td>
        <td>{{ v.inhal_moe|index:forloop.counter0|floatformat:"0" }}</td>
        {% if output.1.combined %} {# If combined output shown #}
            {% if v.combined_list|index:forloop.counter0 < 2 %}
            <td>{{ v.combined_list|index:forloop.counter0|floatformat:"2" }}</td>
            {% else %}
            <td>{{ v.combined_list|index:forloop.counter0|floatformat:"0" }}</td>
            {% endif %}
        {% endif %}

        {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
</table>
<br><sup>1</sup> - Based on the "Occupational Pesticide Handler Unit Exposure Surrogate Reference Table" ([DATE]); Level of mitigation: Baseline, PPE, Eng. Controls.
<br><sup>2</sup> - Based on registered or proposed label (Reg. No. XXXXXX).
<br><sup>3</sup> - Exposure Science Advisory Council Policy #9.1.
<br><sup>4</sup> - Dermal Dose = Dermal Unit Exposure (?g/lb ai) x Conversion Factor (0.001 mg/?g) x Application Rate (lb ai/acre or gal) x Area Treated or Amount  Handled Daily (A or gal/day) x DAF (%) / BW (kg).
<br><sup>5</sup> - Dermal MOE = Dermal NOAEL (X 25 mg/kg/day) / Dermal Dose (mg/kg/day).
<br><sup>6</sup> - Inhalation Dose = Dermal Unit Exposure (?g/lb ai) x Conversion Factor (0.001 mg/?g) x Application Rate (lb ai/acre or gal) x Area Treated or Amount  Handled Daily (A or gal/day) / BW (kg).
<br><sup>7</sup> - Inhalation MOE = Inhalation NOAEL (X 25 mg/kg/day) / Inhalation Dose (mg/kg/day).
{% if output.1.combined %} {# If combined output shown #}
<br><sup>8</sup> - {{ output.1.combined_approach }}
{% endif %}